section.block
	.block-header.block-header-table
		h2.block-title
			| Google Reviews
		.block-header_actions.gap-withoutflex
			button.btn.btn-empty
				| Quick Actions
	.block-reviews
		.block-reviews-row
			.block-reviews-left
				.block-reviews-module
					.block-reviews-mark
						svg
							use(xlink:href="/img/sprite.svg#pin")
					.block-reviews-desc
						h5.block-reviews-title Yakima 40
						p.block-reviews-subtitle Rd. Inglewood, Maine 98380
			.block-reviews-right
				.block-reviews-author
					.block-reviews-author_photo
						span AS
					.block-reviews-author_name
						span Armen Sargsyan
					.block-reviews-rating
						svg
							use(xlink:href="/img/sprite.svg#stary")
						svg
							use(xlink:href="/img/sprite.svg#stary")
						svg
							use(xlink:href="/img/sprite.svg#stary")
						svg
							use(xlink:href="/img/sprite.svg#stary")
						svg
							use(xlink:href="/img/sprite.svg#star")
				.block-reviews-text
					| I recently had the pleasure of dining at WestsidePizza and it was an absolutely delightful experience from start to finish. From the
					| warm and inviting ambiance to the mouthwatering aroma that greeted us upon entry, every aspect of our visit was memorable.
				.block-reviews-date
					| 02/18/2024 09:06:05 PM
		.block-reviews-row
			.block-reviews-left
				.block-reviews-module
					.block-reviews-mark
						svg
							use(xlink:href="/img/sprite.svg#pin")
					.block-reviews-desc
						h5.block-reviews-title Yakima 40
						p.block-reviews-subtitle Rd. Inglewood, Maine 98380
			.block-reviews-right
				.block-reviews-section
					.block-reviews-author
						.block-reviews-author_photo
							span AS
						.block-reviews-author_name
							span Armen Sargsyan
						.block-reviews-rating
							svg
								use(xlink:href="/img/sprite.svg#stary")
							svg
								use(xlink:href="/img/sprite.svg#stary")
							svg
								use(xlink:href="/img/sprite.svg#stary")
							svg
								use(xlink:href="/img/sprite.svg#stary")
							svg
								use(xlink:href="/img/sprite.svg#star")
					.block-reviews-text
						| I recently had the pleasure of dining at WestsidePizza and it was an absolutely delightful experience from start to finish. From the
						| warm and inviting ambiance to the mouthwatering aroma that greeted us upon entry, every aspect of our visit was memorable.
					.block-reviews-date
						| 02/18/2024 09:06:05 PM
				.block-reviews-section
					.block-reviews-text
						| Thank you so much for your positive feedback! We're delighted
						| to hear that you enjoyed your experience, and we look forward to continuing to exceed your expectations in the future!
					.block-reviews-date
						span 02/18/2024 09:06:05 PM
						strong Response from the owner