section.block
	.row.block-head-row
		.block-left
			h2.block-title Unit settings
	.block-head-row
		.block-left.profile-row.row.gap(style='width:100%')
			g-select(gtitle='Unit Opening Date' :items='[{"id":1,"value":"Speed 1x", selected: true},{"id":2,"value":"Population"}]')
			g-select(gtitle='Unit Closing Date' :items='[{"id":1,"value":"Speed 1x", selected: true},{"id":2,"value":"Population"}]')
			g-select(gtitle='Break-Even Analysis Report' :items='[{"id":1,"value":"Speed 1x", selected: true},{"id":2,"value":"Population"}]')
			button.btn.black
				span Update For All Units
			button.btn.btn-empty
				span Reports
section.block
	table.table
		thead.table-head
			tr.table-row
				th(colspan="3")._fill
					.table-th
						| General Information
				th(colspan="3")._fill
					.table-th
						| Segmentations
				th._fill
					.table-th
						| Break-Even
			tr.table-row
				th
					.table-th
						| Unit
				th
					.table-th
						| Unit opening date
				th
					.table-th
						| Unit closing date
				th
					.table-th
						| Population
				th
					.table-th
						| Location
				th
					.table-th
						| Ownership type
				th
					.table-th
						| On/Off
		tbody
			tr.table-row
				td
					.table-td
						| Unit 01 &mdash; COLVILLE
				td.empty
					g-select(:items='[{"id":1,"value":"12/19/2021", selected: true},{"id":2,"value":"Population"}]')
				td.empty
					g-select(:items='[{"id":1,"value":"Unit closed", selected: true},{"id":2,"value":"Population"}]')
				td.empty
					g-select(:items='[{"id":1,"value":"Small", selected: true},{"id":2,"value":"Population"}]')
				td.empty
					g-select(:items='[{"id":1,"value":"Eastern Washington", selected: true},{"id":2,"value":"Population"}]')
				td.empty
					g-select(:items='[{"id":1,"value":"Hands On", selected: true},{"id":2,"value":"Population"}]')
				td
					.table-td.center
						label.checkbox
							input(type='checkbox')
							span.checkbox-bg
							span.checkbox-body