section.block
	.block-header.block-header-table
		h2.block-title Report types
		.block-header_actions.gap-withoutflex.pagination
			button.btn.black
				span Save
	.block-body
		.row.gap
			label.checkbox
				input(type='checkbox')
				span.checkbox-bg
				span.checkbox-body Profit And Loss
			label.checkbox
				input(type='checkbox')
				span.checkbox-bg
				span.checkbox-body Balance Sheet