include  vars
include ../../../../../core/mixins/mixins
include ../data/data
doctype html
html(lang='ru')
	include  style
	body
		.set
			block main
				.row
					block aside
					block content
			include footer
