include ../../../../core/mixins/mixins
aside.aside#aside.-open
	.aside-header
		.aside-row
			.aside-logo
				+img('logo.png')
			.aside-action
				button.btn-circle(data-click="front:toggleMenu")
					svg.icon
						use(xlink:href="/img/sprite.svg#arrow")
	.aside-section
		h5.aside-title Project
		.aside-section_body
			ul.aside-items
				li.aside-item
					a(href="#")
						svg.aside-item_img.icon
							use(xlink:href="/img/sprite.svg#project")
					span.aside-item_tex
						| Westside Pizza
						i.aside-item_digit (2)
	.aside-section
		h5.aside-title Workspace
		.aside-section_body
			ul.aside-items
				li.aside-item
					a(href="/main.html")
						svg.aside-item_img.icon
							use(xlink:href="/img/sprite.svg#pin")
					span.aside-item_text
						| Main
				li.aside-item
					a(href="/unit-monthly-report.html")
						svg.aside-item_img.icon
							use(xlink:href="/img/sprite.svg#git")
					span.aside-item_text
						| Unit 40 &mdash; YAKIMA
				li.aside-item
					a(href="/network-monthly-report.html")
						svg.aside-item_img.icon
							use(xlink:href="/img/sprite.svg#network")
					span.aside-item_text
						| Network
				li.aside-item.-active(data-click="front:openMenu")
					a(href="/units.html")
						svg.aside-item_img.icon
							use(xlink:href="/img/sprite.svg#units")
					span.aside-item_text
						| Units

	.aside-section
		h5.aside-title Manage
		.aside-section_body
			ul.aside-items
				li.aside-item
					a(href="/users.html")
						svg.aside-item_img.icon
							use(xlink:href="/img/sprite.svg#users")
					span.aside-item_text
						| User / Unit / Orgs
				li.aside-item
					a(href="/forms.html")
						svg.aside-item_img.icon
							use(xlink:href="/img/sprite.svg#forms")
					span.aside-item_text
						| Forms
				li.aside-item
					a(href="/reports.html")
						svg.aside-item_img.icon
							use(xlink:href="/img/sprite.svg#reports")
					span.aside-item_text
						| Reports
				li.aside-item
					a(href="/settings")
						svg.aside-item_img.icon
							use(xlink:href="/img/sprite.svg#settings")
					span.aside-item_text
						| Settings
