extends template/main
append vars
	-
		page_title = 'Main info'
block aside
	include asides/aside-profile
block content
	main.main.-full-withpad.profile
		include template/header
		section.block.profile-block
			.block-header.profile-row
				h2.block-title Main info
				.block-header_actions.gap-withoutflex
					a.btn-link Cancel
					a.btn.black Save
			.profile-row
				h2.block-title Credentials
				form.credentials-form.profile-form
					label.inpt
						span.inpt-title Name
						input(type='text')
					label.inpt
						span.inpt-title Web Manuals Url
						input(type='text')
					label.textarea
						span.inpt-title Description
						textarea
					.select
						.select-title
							span Tags
						.select-cont
							.select-head
								.select-item
									span USA, lowa
							.select-arrow
								svg.icon
									use(xlink:href="/img/sprite.svg#select")
							.select-body
					.form-tag_row
						.form-tag
							span Delivery
							svg.icon
								use(xlink:href='/img/sprite.svg#close')
						.form-tag
							span Outside
							svg.icon
								use(xlink:href='/img/sprite.svg#close')
						.form-tag
							span Food Quality
							svg.icon
								use(xlink:href='/img/sprite.svg#close')
