.profile-row
	h2.block-title Segmentation
	.report-segments
		.status-block.report-block.-opened
			.status-block-header
				.status-block-header_item.row
					.status-block-header_title
						span Category of segment
					label.inpt
						input(type='text' value='Population')
				.status-block-header_item
					label.checkbox
						input(type='checkbox')
						span.checkbox-bg
							span.checkbox-body
						span Show as Datapoint
				button.btn-toggle.-opened
					svg.icon
						use(xlink:href="/img/sprite.svg#select")
			.status-block-body
				.status-block-body_section.gray
					.row.report-row
						label.inpt
							input(type='text' value='Small')
						button.table-btn
							svg.icon
								use(xlink:href="/img/sprite.svg#delete")
					.row.report-row
						label.inpt
							input(type='text' value='Medium')
						button.table-btn
							svg.icon
								use(xlink:href="/img/sprite.svg#delete")
					.row.report-row
						label.inpt
							input(type='text' value='Large')
						button.table-btn
							svg.icon
								use(xlink:href="/img/sprite.svg#delete")
					.row.report-row
						label.inpt
							input(type='text')
						button.table-btn
							svg.icon
								use(xlink:href="/img/sprite.svg#plus")
		.status-block.report-block
			.status-block-header
				.status-block-header_item.row
					.status-block-header_title
						span Category of segment
					label.inpt
						input(type='text' value='Location')
				.status-block-header_item
					label.checkbox
						input(type='checkbox' checked)
						span.checkbox-bg
							span.checkbox-body
						span Show as Datapoint
				button.btn-toggle.-opened
					svg.icon
						use(xlink:href="/img/sprite.svg#select")
			.status-block-body
				.status-block-body_section.gray
					.row.report-row
						label.inpt
							input(type='text' value='Small')
						button.table-btn
							svg.icon
								use(xlink:href="/img/sprite.svg#delete")
					.row.report-row
						label.inpt
							input(type='text' value='Medium')
						button.table-btn
							svg.icon
								use(xlink:href="/img/sprite.svg#delete")
					.row.report-row
						label.inpt
							input(type='text' value='Large')
						button.table-btn
							svg.icon
								use(xlink:href="/img/sprite.svg#delete")
					.row.report-row
						label.inpt
							input(type='text')
						button.table-btn
							svg.icon
								use(xlink:href="/img/sprite.svg#delete")
		.status-block.report-block
			.status-block-header
				.status-block-header_item.row
					.status-block-header_title
						span Category of segment
					label.inpt
						input(type='text' value='Ownership Type')
				.status-block-header_item
					label.checkbox
						input(type='checkbox' checked)
						span.checkbox-bg
							span.checkbox-body
						span Show as Datapoint
				button.btn-toggle.-opened
					svg.icon
						use(xlink:href="/img/sprite.svg#select")
			.status-block-body
				.status-block-body_section.gray
					.row.report-row
						label.inpt
							input(type='text' value='Small')
						button.table-btn
							svg.icon
								use(xlink:href="/img/sprite.svg#delete")
					.row.report-row
						label.inpt
							input(type='text' value='Medium')
						button.table-btn
							svg.icon
								use(xlink:href="/img/sprite.svg#delete")
					.row.report-row
						label.inpt
							input(type='text' value='Large')
						button.table-btn
							svg.icon
								use(xlink:href="/img/sprite.svg#delete")
					.row.report-row
						label.inpt
							input(type='text')
						button.table-btn
							svg.icon
								use(xlink:href="/img/sprite.svg#delete")