.profile-row
	h2.block-title Units
	.status-block
		.status-block-header
			.status-block-header_item.row
				.profile-badge.status-block_badge
					| Unit 01 - COLVILLE
				.table-td-badge.-success
					span QuickBooks
			.status-block-header_item
				label.checkbox
					input(type='checkbox')
					span.checkbox-bg
						span.checkbox-body
					span Include in reports
			.status-block-header_item.row
				.btn.btn-empty
					| Fetch QuickBooks Online Data
				.btn.black
					| Reports
				.btn.black
					| Connect Data Points
			button.btn-toggle.-opened
				svg.icon
					use(xlink:href="/img/sprite.svg#select")
		.status-block-body
			.status-block-body_section
				h5.status-block_title
					span Datapoints
				.status-block-connected
					.status-block-connected_name
						span Connected
					.row.status-block-connected_row
						.status-block-connected_item
							.status-block-connected_title
								| $Labor cost
							ul.status-block-connected_list
								li
									span Payroll Taxes
								li
									span Wages
								li
									span Cost of Goods Sold
								li
									span Taxes
								li
									span Wages
						.status-block-connected_item
							.status-block-connected_title
								| Food sales
							ul.status-block-connected_list
								li
									span Food sales
								li
									span Sales
						.status-block-connected_item
							.status-block-connected_title
								| $Food cost
							ul.status-block-connected_list
								li
									span Food cost
						.status-block-connected_item
							.status-block-connected_title
								| $Adv cost
							ul.status-block-connected_list
								li
									span Advertising and Promotion
								li
									span Printing
			.status-block-body_section
				h5.status-block_title
					span Tags
				.status-block-connected.orange
					.row.status-block-connected_row
						.status-block-connected_item
							.status-block-connected_title
								| Revenue:
							ul.status-block-connected_list
								li
									span Bad Debt
								li
									span Food Sales
								li
									span Sales
						.status-block-connected_item
							.status-block-connected_title
								| Variable cost:
							ul.status-block-connected_list
								li
									span Auto Gas for rental car
								li
									span Food cost
								li
									span Auto Gas for rental car
								li
									span  Food Cost
								li
									span  Deliveries
								li
									span  Advertising and Promotion
								li
									span  Office Supplies
								li
									span  Payroll Taxes
								li
									span  Postage and Delivery
								li
									span  Printing
								li
									span  Taxes
								li
									span  B&O Tax
								li
									span  Litter Tax
								li
									span  Till Over/Under
								li
									span  Wages
								li
									span  Merchant Account Fees
								li
									span  Postage and Deliverya
								li
									span  Restaurant Supplies
								li
									span  Uncategorized Expense
								li
									span  Cost of Goods Sold
								li
									span  Taxes
								li
									span  Wages

						.status-block-connected_item
							.status-block-connected_title
								| Fixed cost:
							ul.status-block-connected_list
								li
									span Food cost
								li
									span  Building Repairs
								li
									span  Equipment Rental
								li
									span  Bank Service Charges
								li
									span  Business Licenses and Permits
								li
									span  Computer and Internet Expenses
								li
									span  Dues and Subscriptions
								li
									span  Fees/Penalties
						.status-block-connected_item
							.status-block-connected_title
								| Not calculated in operational profit:
							ul.status-block-connected_list
								li
									span Advertising and Promotion
								li
									span Printing
								li
									span Cost of Goods Sold
								li
									span Expenses
								li
									span Amortization Expense
								li
									span Auto Expenses
								li
									span Interest Charge
								li
									span Lodging
								li
									span Meals and Entertainment
								li
									span Payroll Expenses
	.status-block.-opened
		.status-block-header
			.status-block-header_item.row
				.profile-badge.status-block_badge
					| Unit 02 - Chewelah
				.table-td-badge.-fail
					span QuickBooks
			.status-block-header_item
				label.checkbox
					input(type='checkbox')
					span.checkbox-bg
						span.checkbox-body
					span Include in reports
			.status-block-header_item.row
				.btn.btn-empty
					| Fetch QuickBooks Online Data
				.btn.black
					| Reports
				.btn.black
					| Connect Data Points
			button.btn-toggle
				svg.icon
					use(xlink:href="/img/sprite.svg#select")
		.status-block-body
			.status-block-body_section
				h5.status-block_title
					span Datapoints
				.status-block-connected
					.status-block-connected_name
						span Connected
					.row.status-block-connected_row
						.status-block-connected_item
							.status-block-connected_title
								| $Labor cost
							ul.status-block-connected_list
								li
									span Payroll Taxes
								li
									span Wages
								li
									span Cost of Goods Sold
								li
									span Taxes
								li
									span Wages
						.status-block-connected_item
							.status-block-connected_title
								| Food sales
							ul.status-block-connected_list
								li
									span Food sales
								li
									span Sales
						.status-block-connected_item
							.status-block-connected_title
								| $Food cost
							ul.status-block-connected_list
								li
									span Food cost
						.status-block-connected_item
							.status-block-connected_title
								| $Adv cost
							ul.status-block-connected_list
								li
									span Advertising and Promotion
								li
									span Printing
			.status-block-body_section
				h5.status-block_title
					span Tags
				.status-block-connected.orange
					.row.status-block-connected_row
						.status-block-connected_item
							.status-block-connected_title
								| Revenue:
							ul.status-block-connected_list
								li
									span Bad Debt
								li
									span Food Sales
								li
									span Sales
						.status-block-connected_item
							.status-block-connected_title
								| Variable cost:
							ul.status-block-connected_list
								li
									span Auto Gas for rental car
								li
									span Food cost
								li
									span Auto Gas for rental car
								li
									span  Food Cost
								li
									span  Deliveries
								li
									span  Advertising and Promotion
								li
									span  Office Supplies
								li
									span  Payroll Taxes
								li
									span  Postage and Delivery
								li
									span  Printing
								li
									span  Taxes
								li
									span  B&O Tax
								li
									span  Litter Tax
								li
									span  Till Over/Under
								li
									span  Wages
								li
									span  Merchant Account Fees
								li
									span  Postage and Deliverya
								li
									span  Restaurant Supplies
								li
									span  Uncategorized Expense
								li
									span  Cost of Goods Sold
								li
									span  Taxes
								li
									span  Wages

						.status-block-connected_item
							.status-block-connected_title
								| Fixed cost:
							ul.status-block-connected_list
								li
									span Food cost
								li
									span  Building Repairs
								li
									span  Equipment Rental
								li
									span  Bank Service Charges
								li
									span  Business Licenses and Permits
								li
									span  Computer and Internet Expenses
								li
									span  Dues and Subscriptions
								li
									span  Fees/Penalties
						.status-block-connected_item
							.status-block-connected_title
								| Not calculated in operational profit:
							ul.status-block-connected_list
								li
									span Advertising and Promotion
								li
									span Printing
								li
									span Cost of Goods Sold
								li
									span Expenses
								li
									span Amortization Expense
								li
									span Auto Expenses
								li
									span Interest Charge
								li
									span Lodging
								li
									span Meals and Entertainment
								li
									span Payroll Expenses
