extends template/main
append vars
	-
		page_title = 'Units'
block aside
	include aside
	include asides/aside-uuo
block content
	main.main.-full#app
		include template/header
		.workspace.block
			section.block
				.block-header
					button.btn
						span Add unit
					.block-header-right.gap
						button.btn.btn-empty
							span Export all as CSV
						button.btn.btn-empty
							span Download import sample
						button.btn.btn-empty
							span Import
						button.btn.btn-empty
							span CSV File
						label.inpt.inpt-large
							span.inpt-title Search User by Name, Email or Date
							input(type='text')
			section.block
				.block-header.block-header-table
					h2.block-title Units
					.block-header_actions.gap-withoutflex.pagination
						g-select(:items='[5,10,25]' is-simple="true"  gtitle="Rows per page")
						.pagination-how
							| 1 - 10 of 276
						.pagination-to
							label.inpt
								.inpt-title Go to page
								input(type='text')
						.pagination-arrows
							button.pagination-left.pagination-arrow
								svg.icon
									use(xlink:href="/img/sprite.svg#select")
							button.pagination-right.pagination-arrow
								svg.icon
									use(xlink:href="/img/sprite.svg#select")
				.block-body
					.block-table
						table.table
							thead.table-head
								tr
									th._fill
										.table-th
											span #
									th._fill
										.table-th
											button.table-sort
												svg.icon
													use(xlink:href="/img/sprite.svg#sort")
											span Unit
									th._fill
										.table-th
											button.table-sort
												svg.icon
													use(xlink:href="/img/sprite.svg#sort")
											span Location
									th._fill
										.table-th
											button.table-sort
												svg.icon
													use(xlink:href="/img/sprite.svg#sort")
											span Organization
									th._fill
										.table-th
											button.table-sort
												svg.icon
													use(xlink:href="/img/sprite.svg#sort")
											span Handle
							tbody
								-for (let i = 0; i < 10; i++)
									tr.table-row
										td._fill
											.table-td
												span 1239
										td._fill
											.table-td
												span Unit 01 - Colville
										td._fill
											.table-td
												span 555 South Main, COLVILLE, Washington, 99114
										td._fill
											.table-td
												span Westside Pizza
										td._fill
											.table-td.table-actions
												button.table-btn
													svg.icon
														use(xlink:href="/img/sprite.svg#edit")
												button.table-btn
													svg.icon
														use(xlink:href="/img/sprite.svg#delete")