extends template/main
append vars
	-
		page_title = 'Главная'
block aside
	include aside
	include asides/aside-unit
block content
	main.main.-full-withpad#app
		include template/header
		.workspace.block
			section.block
				.row.block-head-row
					.block-left
						.block-head-row
							button.btn
								span Add Additional Mounth
							label.checkbox
								input(type='checkbox')
								span.checkbox-bg
									span.checkbox-body
								span Compare units with your same
					.block-right
						.block-head-row
							g-select(gtitle="Compare units with your same" :items='[{"id":1,"value":"Ownership Type"},{"id":2,"value":"Population"}]' @select-change="testChange")
							g-select(gtitle="Compare units opened" :items='[{"id":1,"value":"Ownership Type"},{"id":2,"value":"Population"}]' @select-change="testChange")
			section.block
				.block-body
					.block-table
						table.table
							thead.table-head
								tr
									th
										.table-th
											span Name
									th
										.table-th
											g-select(:items='[{"id":1,"selected":true,"value":"November 2023"},{"id":2,"value":"December 2023"}]')
									th
										.table-th
											g-select(:items='[{"id":1,"selected":true,"value":"November 2023"},{"id":2,"value":"December 2023"}]')
									th
										.table-th
											span Ranking
									th
										.table-th
											g-select(:items='[{"id":1,"selected":true,"value":"November 2023"},{"id":2,"value":"December 2023"}]')
									th
										.table-th
											span Trend
									th
										.table-th
											g-select(:items='[{"id":1,"selected":true,"value":"November 2023"},{"id":2,"value":"December 2023"}]')
							tbody
								tr.table-full-row
									td(colspan="7")
										.table-td.full
											| PROFITABILITY
								tr.table-row
									td
										.table-td
											span Food Sales
									td
										.table-td
											.table-td-badge.-success
												span Positive
											span $ 89,934
									td
										.table-td
											span $ 50,847
									td
										.table-td
											span 1 out of 20
									td
										.table-td
											span $ 91,454
									td
										.table-td
											.table-td-row
												span 1.66%
												strong
													svg.icon
														use(xlink:href="/img/sprite.svg#redarrow")
									td
										.table-td
											span $ 94,348
											strong
								tr.table-row
									td
										.table-td
											span Labor Cost %
									td
										.table-td
											.table-td-badge.-fail
												span Negative
											span 32.5%
									td
										.table-td
											span 34.6%
									td
										.table-td
											span 8 out of 20
									td
										.table-td
											span $ 91,454
									td
										.table-td
											.table-td-row
												span 1.66%
												strong
													svg.icon
														use(xlink:href="/img/sprite.svg#redarrow")
									td
										.table-td
											span 3.9%
											strong
								tr.table-full-row
									td(colspan="7")
										.table-td.full
											| FEEDBACK
								tr.table-row
									td
										.table-td
											span Food Sales
									td
										.table-td
											.table-td-badge.-success
												span Positive
											span $ 89,934
									td
										.table-td
											span $ 50,847
									td
										.table-td
											span 1 out of 20
									td
										.table-td
											span $ 91,454
									td
										.table-td
											.table-td-row
												span 1.66%
												strong
													svg.icon
														use(xlink:href="/img/sprite.svg#greenarrow")
									td
										.table-td
											span $ 94,348
											strong
								tr.table-row
									td
										.table-td
											span Labor Cost %
									td
										.table-td
											.table-td-badge.-success
												span Positive
											span 32.5%
									td
										.table-td
											span 34.6%
									td
										.table-td
											span 8 out of 20
									td
										.table-td
											span $ 91,454
									td
										.table-td
											.table-td-row
												span 1.66%
												strong
													svg.icon
														use(xlink:href="/img/sprite.svg#greenarrow")
									td
										.table-td
											span 3.9%
											strong
								tr.table-row
									td
										.table-td
											span Labor Cost %
									td
										.table-td
											.table-td-badge.-fail
												span Negative
											span 32.5%
									td
										.table-td
											span 34.6%
									td
										.table-td
											span 8 out of 20
									td
										.table-td
											span $ 91,454
									td
										.table-td
											.table-td-row
												span 1.66%
												strong
													svg.icon
														use(xlink:href="/img/sprite.svg#redarrow")
									td
										.table-td
											span 3.9%
											strong
								tr.table-full-row
									td(colspan="7")
										.table-td.full
											| Efficiency
								tr.table-row
									td
										.table-td
											span Labor Cost %
									td
										.table-td
											.table-td-badge.-fail
												span Negative
											span 32.5%
									td
										.table-td
											span 34.6%
									td
										.table-td
											span 8 out of 20
									td
										.table-td
											span $ 91,454
									td
										.table-td
											.table-td-row
												span 1.66%
												strong
													svg.icon
														use(xlink:href="/img/sprite.svg#redarrow")
									td
										.table-td
											span 3.9%
			section.actions
				a(href='#').btn.black Download
				span.actions-text .xlsx