extends template/main
append vars
	-
		page_title = 'Главная'
block aside
	include aside
	include asides/aside-unit
block content
	main.main.-full-withpad#app
		include template/header
		.workspace.block
			section.block
				.row.block-head-row
					.block-left
						.block-head-row
							g-select(gtitle="Date" :items='[{"id":1,"value":"Food Sales"},{"id":2,"value":"Population"}]' @select-change="testChange")
							g-select(gtitle="Compare units with your same" :items='[{"id":1,"value":"Jan 2023"},{"id":2,"value":"Population"}]' @select-change="testChange")
							g-select(gtitle="Compare units opened:" :items='[{"id":1,"value":"Jan 2023"},{"id":2,"value":"Population"}]' @select-change="testChange")
					.block-right
						.block-head-row
							button.btn.black
								span Go
							button.btn.btn-empty
								span Reset
			section.block
				.block-header.block-header-table
					h2.block-title
						| Break-even analysis Report
					.block-header_actions.gap-withoutflex
						button.btn.btn-empty
							| Quick Actions
				.block-body.block-body_withborder
					.row
						.block-left
							.block-table.without-overflow
								table.table
									thead.table-head
										tr
											th
												.table-th
													| Title
											th
												.table-th
													| Actual
													br
													|Results
											th
												.table-th
													| Adjusted
													br
													| Results
											th
												.table-th
													| Difference
										tbody
											tr.table-row
												td
													.table-td
														span Revenue
												td
													.table-td
														span $ 40,633
												td
													.table-td
														span $ 40,633
												td
													.table-td
														span $ 0
											tr.table-row
												td
													.table-td
														span Variable Costs
												td
													.table-td
														span $ 40,633
												td
													.table-td
														span $ 40,633
												td
													.table-td
														span $ 0
											tr.table-row
												td
													.table-td
														span Fixed Cost
												td
													.table-td
														span $ 40,633
												td
													.table-td
														span $ 40,633
												td
													.table-td
														span $ 0
											tr.table-row
												td
													.table-td
														span Total Cost
												td
													.table-td
														span $ 40,633
												td
													.table-td
														span $ 40,633
												td
													.table-td
														span $ 0
											tr.table-row
												td
													.table-td
														span Operation Profit
												td
													.table-td
														span $ 40,633
												td
													.table-td
														span $ 40,633
												td
													.table-td
														span $ 0
											tr.table-row
												td
													.table-td
														span Break-Even Point
												td
													.table-td
														span $ 40,633
												td
													.table-td
														span $ 40,633
												td
													.table-td
														span $ 0
							.block-adv
								-for(let i=0;i<3;i++)
									.row.block-adv_row
										.table-td-badge.-yellow
											span Adv Cost%
										label.radio
											input(type='radio' name='test')
											span
												b Actual
										label.radio
											input(type='radio' name='test2')
											span
												b Median
										label.inpt
											h5.inpt-title Input percent
											input(type='text')
						.block-right
							.block-header.block-header-table
								.block-header_actions.gap-withoutflex
									.eval-badge.green
										span Revenue
									.eval-badge.red
										span Total Cost
									.eval-badge.gray
										span Fixed Cost
							.block-right_graph