include ../../../../../core/mixins/mixins
.aside-inner.aside#inner-aside.-open
	.aside-header
		.aside-row
			.aside-logo
			.aside-action
				button.btn-circle.btn-close
					svg.icon
						use(xlink:href="/img/sprite.svg#close")
	.aside-section
		h5.aside-title Nested items
		.aside-section_body
			ul.aside-items
				li.aside-item.-selected
					a(href="#")
						svg.aside-item_img.icon
							use(xlink:href="/img/sprite.svg#network")
					span.aside-item_tex
						| Network
				li.aside-inner-item
					.aside-inner-item_header
						a.aside-item_tex
							| Reports
						svg.aside-item_img.icon
							use(xlink:href="/img/sprite.svg#select")
				li.aside-inner-item
					.aside-inner-item_header
						a.aside-item_tex(href='#')
							| Files
						svg.aside-item_img.icon
							use(xlink:href="/img/sprite.svg#select")
				li.aside-inner-item
					.aside-inner-item_header
						a.aside-item_tex(href='#')
							| Evaluations
						svg.aside-item_img.icon
							use(xlink:href="/img/sprite.svg#select")
					ul.aside-inner-item-list
						li.aside-inner-item-list_item
							a(href='/evaluation.html') Full Westside Pizza Evaluation (Updated 5-01-23)
						li.aside-inner-item-list_item
							a(href='#') Test Opening Checklist
				li.aside-inner-item
					.aside-inner-item_header
						a.aside-item_tex(href='#')
							| Web Manuals
						svg.aside-item_img.icon
							use(xlink:href="/img/sprite.svg#select")