:root
  --green: getRgb(#37BE55)
  --light_green: getRgb(#1FEF8B)
  --black: getRgb(#263238)
  --dark_black: getRgb(#171821)
  --white: getRgb(#FAFBFA)
  --gray: getRgb(#F4F4F4)
  --dark-gray: getRgb(#B9B9B9)
  --yellow: getRgb(#FFD361)
  --red: getRgb(#FF0000)
  --blue: getRgb(#4FCAFF)
html[data-theme="dark"]
  --dark_black: getRgb(#FAFBFA)
  --white: getRgb(#171821)
  --black: getRgb(#F4F4F4)
  --gray: getRgb(#263238)
$green = var(--green)
$light_green = var(--light_green)
$black = var(--black)
$dark_black = var(--dark_black)
$white = var(--white)
$gray = var(--gray)
$darkgray = var(--dark-gray)
$yellow = var(--yellow)
$red = var(--red)
$blue = var(--blue)
$f_reg= "GoogleSans-Regular"
$f_bold= "GoogleSans-Bold"
font_inc($f_reg,'GoogleSans-Regular.woff2')
font_inc($f_bold,'GoogleSans-Bold.woff2')